<html>
<head>
    <title> <%= title %> </title>
     <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <!-- load local stylesheet -->
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="navlink" href="/account">Account</a>
            </li>
            <li class="nav item">
                <a class="navlink" href="/about">About</a>
            </li>
            <li class="nav item">
                <a class="navlink" href="/contact">Contact</a>
            </li>
        <% if(loggedIn) { %>
            <p class="navbar-text navbar-right">
                Logged in as <%= user.email %> <a href="/logout">Sign out</a>
            </p>
        <% } %>
        </ul>

    </nav> 
</html>