<!-- ./views/about.ejs -->
<!doctype html>
<html>
<%- include ./partials/top.ejs %>

    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-info-sign"></span>About</h1>
        <p>
            This is just a practice web app I created using MongoDB, Express, Node.js and Passport. It's basically
            a pretend bank where you can deposit pretend money and withdraw pretend money, and also transfer that
            pretend money to other accounts in the same bank.
        </p>
    </div>

<%- include ./partials/bottom.ejs %>
</html>