<!-- ./views/profile.ejs -->
<!doctype html>
<html>
<%- include ./partials/top.ejs %>

<!-- Body content -->

    <!-- Account information -->
        <div class="well">
            <h3><span class="fa fa-user"></span> Account Summary</h3>
                <p>
                    <% if(user.balance != null) { %>
                        <strong>balance</strong>: $<%= user.balance %>
                    <% } else { %>
                        <strong>balance</strong>: $0.00
                    <% } %>
                    <br>
                    <strong>email</strong>: <%= user.email %><br><br>
                    <a class="btn btn-default" href="/account/deposit">Make a Deposit</a>
                    <a class="btn btn-default" href="/account/withdraw">Make a Withdrawal</a>
                </p>
        </div>
<!-- End body content -->

<%- include ./partials/bottom.ejs %>
</html>