<!-- ./views/index.ejs -->
<!doctype html>
<html>
<%- include ./partials/top.ejs %>

    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-usd"></span><%= title %></h1>
        <% if(!loggedIn) { %>
            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <% } %>
    </div>

<%- include ./partials/bottom.ejs %>
</html>