<!-- ./views/profile.ejs -->
<!doctype html>
<html>
    <head>
        <title><%= title %></title>
    </head>

    <body>
        <h1>Welcome to the profile page!</h1>
        <span>Logged user: <%= user.local.email %></span>
    </body>
</html>