.footer-container {
    text-align: center;
}

.account-container {
    margin: auto;
    padding: 10px;
    width: 90%;
    background-color: lightgrey;
    border-radius: 10px;
    padding-bottom: 20px;
}

.account-list-container {
    margin: auto;
    padding: 10px;
    width: 75%;
    background-color: lightgrey;
    border-radius: 10px;
    padding-bottom: 20px;
}

.statements-container {
    margin-top: 15px;
}

.statement-container {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2px;
    width: 700px;
    background-color: gray;
}

.statement-date {
    float: left;
    margin-right: 10px;
}

.statement-description {
    float: left;
}

.statement-amount {
    float: right;
}